body {
  width: 100%;
  margin: 0;
  background: #fff;
  font-family: RobotoDraft, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: #444;
  padding-bottom: 7.5em; }

.video-hero {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  color: #fff;
  background: linear-gradient(to bottom, #76B4E0 0%, #B2D8F3 100%) #76B4E0; }
  .video-hero video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 2;
    opacity: 0.05; }

#page-main {
  position: relative; }

#main-navbar {
  background: rgba(0, 0, 0, 0.15);
  border: 0;
  transition: all 0.25s; }
  #main-navbar a {
    color: #eee; }
    #main-navbar a:hover, #main-navbar a:focus {
      color: #fff; }
  #main-navbar .navbar-toggle .icon-bar {
    background: #fff; }
  #main-navbar.scrolled {
    background: rgba(60, 60, 60, 0.975); }

a {
  outline: none;
  transition: all 0.25s; }

button {
  outline: none;
  transition: all 0.2s; }
  button:active {
    margin-top: 1px; }

.search-movies .search {
  position: absolute;
  top: -50px;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  height: 100px;
  font-size: 2.5em;
  font-weight: 300;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 5px 35px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 1em 4em 1em 30px;
  outline: none; }
.search-movies .search-hint {
  position: absolute;
  display: block;
  width: 58%;
  left: 50%;
  margin-left: -29%;
  height: 1em;
  top: -80px;
  z-index: 101;
  color: #fff;
  font-size: 1.175em;
  height: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.search-movies #do-search {
  position: absolute;
  background: none;
  border: none;
  box-shadow: none;
  right: 22.5%;
  z-index: 101;
  top: -10px;
  color: #aaa; }
  .search-movies #do-search:hover, .search-movies #do-search:focus {
    color: #333; }
.search-movies .search-wrapper {
  height: 50px;
  margin-bottom: 3em; }

.popular-movies {
  padding: 2.5em 1.5em; }
  .popular-movies h2 {
    margin-bottom: 1em; }
  .popular-movies .movies-thumb-list {
    padding: 0;
    margin: 0; }
    .popular-movies .movies-thumb-list .movie-item {
      position: relative;
      padding: 0;
      margin: 0 0 3em;
      list-style: none;
      float: left;
      width: 25%;
      overflow: hidden; }
      .popular-movies .movies-thumb-list .movie-item h3 {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.5em 0;
        margin: 0;
        font-weight: 300; }
      .popular-movies .movies-thumb-list .movie-item img {
        width: 100%;
        opacity: 0.8;
        transition: opacity 0.35s; }
      .popular-movies .movies-thumb-list .movie-item .movie-info {
        position: absolute;
        left: 5%;
        z-index: 1;
        color: #fff;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.95), 0 1px 4px rgba(0, 0, 0, 0.75);
        opacity: 0;
        transition: all 0.25s;
        top: 45px;
        text-transform: uppercase; }
      .popular-movies .movies-thumb-list .movie-item .movie-plot {
        position: absolute;
        left: 0;
        bottom: -25px;
        margin: 0;
        line-height: 1.25;
        padding: 1.25em;
        background: rgba(255, 255, 255, 0.9);
        font-weight: 500;
        transition: all 0.25s;
        transition-delay: 0.25s;
        opacity: 0;
        max-height: 72.5%; }
      .popular-movies .movies-thumb-list .movie-item:hover img {
        opacity: 1; }
      .popular-movies .movies-thumb-list .movie-item:hover .movie-info {
        opacity: 1; }
      .popular-movies .movies-thumb-list .movie-item:hover .movie-rating {
        top: 60px; }
      .popular-movies .movies-thumb-list .movie-item:hover .movie-date {
        top: 80px; }
      .popular-movies .movies-thumb-list .movie-item:hover .movie-plot {
        opacity: 1;
        bottom: 0; }

.single-movie h2 {
  margin-bottom: 1.75em; }
.single-movie .movie-poster {
  overflow: hidden; }
  .single-movie .movie-poster img {
    width: 100%; }
.single-movie .movie-data-list {
  font-size: 1.2em; }
  .single-movie .movie-data-list li {
    margin-bottom: 0.5em; }

.load-more-wrapper {
  text-align: center;
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #ddd; }

.load-more {
  background: transparent;
  border: 3px solid;
  padding: 1em 2em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  margin: 0;
  color: inherit;
  font-weight: 700;
  color: #46B0AA;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  width: 50%; }
  .load-more:hover, .load-more:focus {
    color: #307975; }
  .load-more:active {
    color: #050c0b; }

.tmdb {
  float: right; }
  .tmdb img {
    width: 100px; }

.fade-anim.ng-enter,
.fade-anim.ng-leave {
  transition: all 0.4s;
  opacity: 0; }

.fade-anim.ng-enter.ng-enter-active,
.fade-anim.ng-leave {
  opacity: 1; }

.fade-anim.ng-leave.ng-leave-active,
.fade-anim.ng-enter {
  opacity: 0;
  width: 0; }

@media screen and (max-width: 647px) {
  h1 {
    font-size: 1.75em; }

  h2 {
    font-size: 1.35em; }

  h3 {
    font-size: 1.1em; }

  .video-hero h1 {
    padding-bottom: 1em; }

  .search-movies .search {
    padding: 1em 20px;
    font-size: 1.5em;
    font-weight: 400;
    width: 90%;
    margin-left: -45%;
    height: 70px;
    top: -35px; }
  .search-movies #do-search {
    display: none; }
  .search-movies .search-hint {
    width: 90%;
    margin-left: -45%;
    top: -55px;
    font-size: 0.95em;
    text-align: center;
    line-height: 1; }

  .popular-movies .movies-thumb-list .movie-item {
    width: 33.33333%; }
    .popular-movies .movies-thumb-list .movie-item h3 {
      font-weight: 500; }
    .popular-movies .movies-thumb-list .movie-item .movie-info {
      top: 20px; }
    .popular-movies .movies-thumb-list .movie-item:hover .movie-rating {
      top: 35px; }
    .popular-movies .movies-thumb-list .movie-item:hover .movie-date {
      top: 55px; } }

/*# sourceMappingURL=style.css.map */
