// Variables
$primary: #46b0aa;

// Layouting

html {
  // Force scrollbar for short pages to prevent jitter effect
  height: 101%;
}

body {
  font-family: RobotoDraft, 'Helvetica Neue', sans-serif;
  line-height: 1.8;

  width: 100%;
  margin: 0;
  padding-bottom: 5em;

  color: #444;
  background: #fff;
}

.section-hero {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 150px;

  color: #fff;
  background: linear-gradient(to bottom, #0083e0 0%, #a99aff 100%) #0083e0;
}

#page-main {
  position: relative;
}

#main-navbar {
  transition: all .25s;

  border: 0;
  background: rgba(16,114,194, 1);
  a {
    font-size: .95em;
    font-weight: 500;

    color: #eee;
    outline: none;
    &.navbar-brand {
      font-size: 1em;
      font-weight: 700;

      padding-right: 2.5em;

      letter-spacing: 2.5px;
      text-transform: uppercase;

      color: #fff;
    }
    &:hover,
    &:focus {
      color: #fff;
    }
  }
  .navbar-toggle .icon-bar {
    background: #fff;
  }
  &.scrolled {
    background: rgba(16,114,194, .95);;
  }
}

// General Markup

a {
  transition: all .25s;
  text-decoration: none !important;

  outline: none;
}

button:not(#do-search) {
  transition: all .2s;

  outline: none;
  &:active {
    margin-top: 1px;
  }
}

// App Specific
.search-movies {
  .search {
    font-size: 2.5em;
    font-weight: 300;

    position: absolute;
    z-index: 100;
    top: -50px;
    left: 50%;

    width: 60%;
    height: 100px;
    margin-left: -30%;
    padding: 1em 4em 1em 30px;

    border: none;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0, .2),
    0 5px 35px 0 rgba(0, 0, 0, .1);
  }
  .search-hint {
    font-size: 1.175em;

    position: absolute;
    z-index: 101;
    top: -80px;
    left: 50%;

    display: block;
    overflow: hidden;

    width: 58%;
    height: 1em;
    height: 2em;
    margin-left: -29%;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff;
  }
  #do-search {
    position: absolute;
    z-index: 101;
    top: -10px;
    right: 22.5%;

    color: #aaa;
    border: none;
    background: none;
    box-shadow: none;
  }
  .search-wrapper {
    height: 50px;
    margin-bottom: 3em;
  }
}

.list-movies {
  padding: 2.5em 1.5em;
  h2 {
    margin-bottom: 1em;
  }
  .movies-thumb-list {
    margin: 0;
    padding: 0;
    .movie-item {
      position: relative;

      float: left;
      overflow: hidden;

      width: 25%;
      height: 450px;
      margin: 0 0 3em;
      padding: 0;

      list-style: none;
      h3 {
        font-size: 1.2em;
        font-weight: 400;

        overflow: hidden;

        width: 100%;
        margin: 0;
        padding: .5em 0;

        white-space: nowrap;
        text-overflow: ellipsis;

        color: #333;
      }
      img {
        width: 100%;
        height: 420px;

        transition: opacity .35s;

        opacity: .8;
      }
      .movie-info {
        position: absolute;
        z-index: 1;
        top: 45px;
        left: 5%;

        transition: all .25s;
        text-transform: uppercase;

        opacity: 0;
        color: #fff;
        text-shadow: 0 0 1px rgba(0,0,0, .95),
        0 1px 4px rgba(0,0,0, .75);
      }
      .movie-plot {
        font-weight: 500;
        line-height: 1.3;

        position: absolute;
        bottom: -25px;
        left: 0;

        max-height: 72.5%;
        margin: 0;
        padding: 1.25em;

        transition: all .25s;
        transition-delay: .25s;

        opacity: 0;
        color: #333;
        background: rgba(255, 255, 255, .9);
      }
      &:hover {
        img {
          opacity: 1;
        }
        .movie-info {
          opacity: 1;
        }
        .movie-rating {
          top: 60px;
        }
        .movie-date {
          top: 80px;
        }
        .movie-plot {
          bottom: 0;

          opacity: 1;
        }
      }
    }
  }
}

.single-movie {
  margin-top: 5em;
  h2 {
    margin-bottom: 1.75em;
  }
  .movie-poster {
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .movie-data-list {
    font-size: 1.2em;
    li {
      margin-bottom: .5em;
    }
  }
}

.button-container {
  position: absolute;
  top: -40px;
  right: 0;

  width: 100%;

  text-align: center;
  .button-back {
    font-size: 2.5em;
    line-height: 80px;

    display: inline-block;

    width: 80px;
    height: 80px;

    text-indent: -.05em;

    color: #333;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0, .5);
    &:hover,
    &:focus {
      box-shadow: 0 5px 15px 0 rgba(0,0,0, .25);
    }
    &:active {
      box-shadow: 0 2px 3px 0 rgba(0,0,0, .5);
    }
  }
}

.load-more-wrapper {
  margin-top: 2em;
  padding-top: 2em;

  text-align: center;

  border-top: 1px solid #ddd;
}

.load-more {
  font-size: 1.5em;
  font-weight: 700;

  width: 50%;
  margin: 0;
  padding: 1em 2em;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: inherit;
  color: $primary;
  border: 3px solid;
  outline: none;
  background: transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  &:hover,
  &:focus {
    color: darken($primary, 15);
  }
  &:active {
    color: darken($primary, 45);
  }
}

.tmdb {
  float: right;
  img {
    width: 100px;
  }
}

// Animations
.fade-anim.ng-enter,
.fade-anim.ng-leave {
  transition: all .4s;

  opacity: 0;
}

.fade-anim.ng-enter.ng-enter-active,
.fade-anim.ng-leave {
  opacity: 1;
}

.fade-anim.ng-leave.ng-leave-active,
.fade-anim.ng-enter {
  width: 0;

  opacity: 0;
}

// Responsive Design
@media screen and ( max-width: 647px ) {
  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1.35em;
  }

  h3 {
    font-size: 1.1em;
  }

  .video-hero h1 {
    padding-bottom: 1em;
  }

  .search-movies {
    .search {
      font-size: 1.5em;
      font-weight: 400;

      top: -35px;

      width: 90%;
      height: 70px;
      margin-left: -45%;
      padding: 1em 20px;
    }
    #do-search {
      display: none;
    }
    .search-hint {
      font-size: .95em;
      line-height: 1;

      top: -55px;

      width: 90%;
      margin-left: -45%;

      text-align: center;
    }
  }
  .list-movies {
    .movies-thumb-list {
      .movie-item {
        width: 33.33333%;
        h3 {
          font-weight: 500;
        }
        .movie-info {
          top: 20px;
        }
        &:hover {
          .movie-rating {
            top: 35px;
          }
          .movie-date {
            top: 55px;
          }
        }
      }
    }
  }
}
