<div class="search-movies container">

  <div class="search-wrapper">
      <input name="s" class="search" type="text" placeholder="Filter movies..." ng-model="query" />

      <button id="do-search" type="submit" disabled="disabled">
        <i class="fa fa-search"></i>
      </button>

      <p class="search-hint">
        <i class="fa fa-search"></i>
        Enter a <strong>movie title</strong> to search for:
      </p>
  </div><!-- .search-wrapper -->

</div>


<div class="container">
  <div class="list-movies row">

    <h2>
      <i class="fa fa-film"></i>
      {{pageHeading}}
      <span class="tmdb">
        <img alt="tmdb"
             src="//assets.tmdb.org/images/logos/var_4_0_tmdb-logo-1Line-Blk-Bree.svg">
      </span>
    </h2>
    <ul class="movies-thumb-list clearfix">

      <li class="movie-item fade-anim" ng-repeat="movie in moviesList | filter: query">
        <a href="./#/movies/{{movie.id}}">
          <h3>{{movie.title}}</h3>
          <img ng-src="http://image.tmdb.org/t/p/w370/{{movie.poster_path}}" alt="{{movie.title}}" />

          <strong class="movie-rating movie-info">
            <i class="fa fa-star"></i>
            {{movie.vote_average}}
          </strong>
          <strong class="movie-date movie-info">
            <i class="fa fa-clock-o"></i>
            {{movie.release_date}}
          </strong>
          <p class="movie-plot">
            <i class="fa fa-info-circle"></i>
            {{movie.overview}}
          </p>
        </a>
      </li>

    </ul>

    <p ng-show="moviesList.length == 0">loading movies...</p>

  </div>
</div>

<div class="load-more-wrapper">
  <button ng-click="getMoviesList()" ng-hide="moviesList.length == 0" class="load-more">
    <i class="fa fa-film"></i>
    Load More
  </button>
</div>
